### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# output
dist/
public/
ad-tag/lib
ad-tag/source/ts/gen
moli-debugger/lib
moli-release/lib
modules/*/lib
modules/*/temp
utils/*/lib
tsconfig.tsbuildinfo
website/.docusaurus
website/build
website/docs/api
website/docs/modules
website/**typedoc-sidebar.js

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Yarn Integrity file
.yarn-integrity

node_modules
.idea
*.iml

# intellij
.run
