<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"></script>
    <!-- making things prettier -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- highlighting the integration code -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- CMP faktor.io -->
    <script src="https://config-prod.choice.faktor.io/7512a9aa-3995-4ff7-94c0-c8a45d49c611/faktor.js" async></script>


    <style>
        body {
            display: flex;
        }

        .u-mtm {
            margin-top: 1rem;
        }
    </style>
</head>


<!-- ------------------- -->
<!-- MOLI PUBLISHER CODE -->
<!-- ------------------- -->

<script>
  const vertical = 'gutefrage';
  const iabChannel = 'Automotive';

  // que setup
  window.moli = window.moli || {que: []};

  // push commands

  // labels
  window.moli.que.push(function (moliAdTag) {

    moliAdTag.addLabel(vertical);
    moliAdTag.addLabel(iabChannel);

    // parse query params to activate certain outstream partners
    // this only works in modern browsers
    const params = new URLSearchParams(window.location.search);

    params.getAll('label').forEach(label => moliAdTag.addLabel(label));

  });
  // targeting
  window.moli.que.push(function (moliAdTag) {

    // array of normalized tags
    moliAdTag.setTargeting('tags', ['auto', 'waschmaschine']);
    // allows targeting for verticals
    moliAdTag.setTargeting('vertical', vertical);
    // marketing channel
    moliAdTag.setTargeting('channel', iabChannel);

    // allows targeting adult content
    moliAdTag.setTargeting('isAdultContent', 'false');
    // allows targeting for user agents
    moliAdTag.setTargeting('supportedUserAgent', 'true');
  });

  // hooks
  window.moli.que.push(function (moliAdTag) {
      moliAdTag.beforeRequestAds((config) => {
          console.log('before request ads hook', config);
      });

      moliAdTag.afterRequestAds((state) => {
         console.log('after request ads hook. State:', state);
      });
  });

  // request ads
  window.moli.que.push(function (moliAdTag) {
    moliAdTag.requestAds();
  });

</script>

<body>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Publisher Mode Demo</h1>
        <p class="lead">This page contains the complete ad configuration</p>
        <hr class="my-4">
        <h3>Integration</h3>
        <p>This code should be placed in the head of your page</p>
        <pre><code id="integration-code" class="html">&lt;!-- google ad manager tag (required) --&gt;
&lt;script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"&gt;&lt;/script&gt;
&lt;!-- your ad tag --&gt;
&lt;script async="async" src="{{domain}}<%= htmlWebpackPlugin.files.js[0] %>"&gt;&lt;/script&gt;
&lt;!-- your faktor.io tag --&gt;
&lt;script async="async" src="https://config-prod.choice.faktor.io/7512a9aa-3995-4ff7-94c0-c8a45d49c611/faktor.js"&gt;&lt;/script&gt;</code></pre>

        <p>In publisher mode the publisher site needs to trigger the <code>requestAds()</code> method. This test pages
            executes this additional javascript</p>
        <pre><code class="javascript">window.moli = window.moli || {que: []};
window.moli.que.push(function (moliAdTag) {

    // trigger ads
    moliAdTag.requestAds();
});</code></pre>

        <h3>Moli Console</h3>
        <p>You can get more details by opening the moli console.</p>
        <button class="btn btn-success" onclick="window.moli.openConsole()">Open Moli Console</button>
        <p>Or if you are developer type this into the javascript console</p>
        <pre><code class="html hljs xml">moli.openConsole()</code></pre>

        <h3>Outstream</h3>
        <p>Activate one or more outstream partners by adding them to a <code>label</code> query parameter. Examples</p>

        <div class="list-group">
            <a href="?label=appnexusAst" class="list-group-item list-group-item-action">Activate AppNexus</a>
            <a href="?label=spotx" class="list-group-item list-group-item-action">Activate Spotx</a>
            <a href="?label=teads" class="list-group-item list-group-item-action">Activate Teads</a>
            <a href="?label=unruly" class="list-group-item list-group-item-action">Activate Unruly</a>
            <a href="?label=showheroesBs" class="list-group-item list-group-item-action">Activate ShowHeroes</a>
        </div>

        <h3>Ads.txt</h3>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAdsTxt" aria-expanded="false" aria-controls="collapseAdsTxt">
                Show ads.txt
            </button>
        </p>
        <div class="collapse" id="collapseAdsTxt">
            <pre><code>
#GoogleAdx
google.com,pub-9934539733884172,DIRECT,f08c47fec0942fa0
#GoogleAdsense
google.com,pub-1602621474554678,DIRECT,f08c47fec0942fa0
            </code></pre>
        </div>

    </div>

    <h1>Eager Loading AdSlot</h1>
    <div id="eager-loading-adslot"></div>

    <hr>

    <h1>Prebid AdSlot with outstream</h1>
    <div id="prebid-adslot" style="max-height: 340px; max-width: 605px;"></div>

    <hr>

    <h1>Amazon A9 AdSlot</h1>
    <div id="a9-adslot"></div>

    <h1>AppNexus Multiformat Test</h1>
    <div id="appNexus-multiformat-adSlot" style="height: 340px; width: 640px;"></div>
</div>
<!-- update the {{domain}} variable in the integration example -->
<script>
  const code = document.getElementById('integration-code');
  code.innerText = code.innerText.replace('{{domain}}', window.location.href);
</script>
<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>