/** change the mobile/desktop breakpoint according to your style */
@media (--h5v-mobile) {
  main {
    /** this reserves enough "space" for the sticky ad.
     *
     * The padding represents the whitespace where the sticky ad floats on top.
     * It's caluclated based on the height of the navbar, the maximum height of the ad and some extra
     * padding (30px in this case)
     */
    padding-top: calc(var(--navbar-height) + var(--header-ad-height) + 30px);
  }
}

/** styles the container for the actual ad. You may name this CSS class as you wish */
.h5v-header-ad {
  /** background is required for sticky ads */
  background-color: var(--header-ad-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--header-ad-height);
  width: 100%;
}

@media (--h5v-mobile) {
  .h5v-header-ad {
    /** you may change the style according to your needs */
    border-bottom: var(--header-ad-border);
    box-shadow: var(--header-ad-shadow);

    /** all properties below are for the sticky behaviour */
    position: fixed;
    top: var(--navbar-height);
    transition: transform 800ms ease;
    transform: translateY(0);
    z-index: 10;
  }

  /** if this classname doesn't fit your css rules, you can propose a separate name, which
   * must be configured in your ad tag.
   */
  .h5v-header-ad--fadeOut {
    /** this is the hiding animiation */
    transform: translateY(calc(-1 * (var(--navbar-height) + var(--header-ad-height) + 50px)));
  }

  /** this an example on how the close button may look like.
   * if you don't want a close button, this is optional.
   */
  .h5v-header-ad--button {
    background-color: var(--header-ad-bg);
    bottom: -25px;
    border-bottom: var(--header-ad-border);
    border-right: var(--header-ad-border);
    border-width: inherit;
    box-shadow: var(--header-ad-shadow);
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.875rem;
    display: var(--header-ad-close-button);
    position: fixed;
    left: 0;
    padding: 0.125rem 1rem;
  }
}

/** on desktop the ad is not sticky and placed in the regular layout flow */
@media (--h5v-desktop) {
  .h5v-header-ad {
    min-height: 250px;
    padding-top: var(--navbar-height);
  }
  .h5v-header-ad--button {
    display: none;
  }
}
