.h5v-sticky-ad-container {
  position: fixed;
  display: flex;
  justify-content: center;
  left: var(--h5v-sticky-footer-container-left);
  right: 0;
  height: fit-content;
  width: 100%;
  bottom: 0;
  z-index: var(--h5v-sticky-footer-z-index);
  background-color: var(--h5v-sticky-footer-bg);
  padding: 0.5rem;
  box-shadow: var(--h5v-sticky-footer-box-shadow);
  transform: var(--h5v-sticky-footer-container-transform);
}

@media (--h5v-desktop) {
  .h5v-sticky-ad-container {
    width: var(--h5v-sticky-footer-container-width);
    padding: var(--h5v-sticky-footer-container-padding);
  }
}

.h5v-sticky-ad-close-button {
  position: absolute;
  background-color: var(--h5v-sticky-footer-bg);
  top: 0;
  right: 0;
  height: 28px;
  border: none;
  padding: var(--h5v-sticky-footer-button-padding);
  cursor: pointer;
  border-radius: var(--h5v-sticky-footer-button-border-radius);
  transform: translateY(-100%); /* Above the footerAd container */

  &:before {
    bottom: 0;
    content: '';
    left: var(--h5v-sticky-footer-close-clickable-area);
    position: absolute;
    right: 0;
    top: var(--h5v-sticky-footer-close-clickable-area);
  }
}

/* Hide the footer ad on close click */
.h5v-footerAd--hidden {
  transform: translateY(300%);
  transition: var(--h5v-sticky-footer-container-transition-on-hidden);
  display: var(--h5v-sticky-footer-container-display-on-hidden);
}

