/** @define MoliDebug */

:root {
  --MoliDebug-sidebar-padding: 15px;
  --MoliDebug-border-radius: 4px;
  --MoliDebug-buttons-height: 24px;
  --MoliDebug-font-size: 14px;
  --MoliDebug-sidebar-bg: white;
  --MoliDebug-sidebar-box-shadow: -3px 0 5px 0px rgba(0,0,0,0.2);
  --MoliDebug-green: #93ff8d;
  --MoliDebug-red: #ff583d;
}

.MoliDebug {

  &-sidebar {
    background: var(--MoliDebug-sidebar-bg);
    box-shadow: var(--MoliDebug-sidebar-box-shadow);
    box-sizing: border-box;
    display: block;
    font-size: var(--MoliDebug-font-size);
    max-height: 100vh;
    max-width: 100vw;
    padding: var(--MoliDebug-sidebar-padding);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;

    &.is-hidden {
      transform: translateX(100%);
    }

    & pre {
      margin: 0;
      max-height: calc(100vh - 2 * var(--MoliDebug-sidebar-padding));
      overflow-y: auto;
    }

    &-closeHandle {
      background: var(--MoliDebug-sidebar-bg);
      border: none;
      border-bottom-left-radius: var(--MoliDebug-border-radius);
      box-shadow: var(--MoliDebug-sidebar-box-shadow);
      cursor: pointer;
      height: 32px;
      left: -32px;
      padding: 0;
      position: absolute;
      top: 0;
      width: 32px;

      &:hover {
        background: color(var(--MoliDebug-sidebar-bg) shade(20%));
      }
    }

    &Section {
      margin-bottom: 10px;
    }
  }

  &-adSlot {
    background: color(white alpha(80%));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: var(--MoliDebug-font-size);
    min-height: var(--MoliDebug-buttons-height);

    &--overlay {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &-buttons {
      display: flex;
      height: var(--MoliDebug-buttons-height);
      padding: 5px;
    }

    &-button:not(:first-child) {
      margin-left: 10px;
    }

    &-button {
      background: lightgray;
      border: 1px solid lightgray;
      border-radius: var(--MoliDebug-border-radius);
      color: black;
      cursor: pointer;
      height: var(--MoliDebug-buttons-height);
      padding: 0;
      width: 24px;

      &:hover,
      &:focus,
      &.is-active {
        background: white;
        border-color: black;
      }

      &.is-rendered {
        background: var(--MoliDebug-green);
      }

      &.is-notRendered {
        background: var(--MoliDebug-red);
      }
    }
  }

  &-panel {
    padding: 5px;
  }

  &-tag {
    background: darkgray;
    border-radius: var(--MoliDebug-border-radius);
    display: inline-block;
    margin-right: 5px;
    padding: 1px 5px;

    &--red {
      background: var(--MoliDebug-red);
    }

    &--green {
      background: var(--MoliDebug-green);
    }

    &Label {
      display: inline-block;
      min-width: 110px;
      padding-right: 5px;
    }

    &Container {
      margin-top: 5px;
    }
  }

  &-keyValueTable {
    text-align: left;

    & td,
    & th {
      padding-right: 10px;
    }
  }

  &-posRelative {
    position: relative;
  }
}