/** @define MoliDebug */

:root {
  --MoliDebug-sidebar-padding: 15px;
  --MoliDebug-border-radius: 4px;
  --MoliDebug-info-button-height: 24px;
  --MoliDebug-font-size: 14px;
}

.MoliDebug {

  &-sidebar {
    background: color(red alpha(40%));
    box-sizing: border-box;
    display: block;
    font-size: var(--MoliDebug-font-size);
    max-height: 100vh;
    max-width: 100vw;
    padding: var(--MoliDebug-sidebar-padding);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;

    &.is-hidden {
      transform: translateX(100%);
    }

    & pre {
      margin: 0;
      max-height: calc(100vh - 2 * var(--MoliDebug-sidebar-padding));
      overflow-y: auto;
    }

    &-closeHandle {
      background: color(red alpha(40%));
      cursor: pointer;
      height: 32px;
      left: -32px;
      position: absolute;
      top: 0;
      width: 32px;
    }
  }

  &-adSlot {
    display: flex;
    font-size: var(--MoliDebug-font-size);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &-buttons {
      display: flex;
      height: 24px;
      left: 0;
      padding: 5px;
      position: absolute;
      top: 0;
    }

    &-button:not(:first-child) {
      margin-left: 10px;
    }

    &-button {
      background-color: lightgray;
      border: 1px solid lightgray;
      border-radius: var(--MoliDebug-border-radius);
      cursor: pointer;
      height: var(--MoliDebug-info-button-height);
      padding: 0;
      width: 24px;

      &:hover,
      &:focus,
      &.is-active {
        background-color: white;
        border-color: black;
      }
    }
  }

  &-panel {
    background: color(white alpha(80%));
    padding: calc(var(--MoliDebug-info-button-height) + 5px) 5px 5px;
  }

  &-tag {
    background: darkgray;
    border-radius: var(--MoliDebug-border-radius);
    display: inline-block;
    margin-right: 5px;
    padding: 1px 5px;

    &--red {
      background: #ff583d;
    }

    &--green {
      background: #93ff8d;
    }

    &Label {
      display: inline-block;
      min-width: 110px;
    }

    &Container {
      margin-top: 5px;
    }
  }

  &-posRelative {
    position: relative;
  }
}